@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: cadetblue;
    --primary-color-darker: rgb(46, 84, 85);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Fira Code', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.tabelas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tabela1, .tabela2, ul {padding: 0;} li{
    list-style: none;
    margin: 0;
}

#resultado {
    text-decoration: underline;
    text-decoration-color: green;
}

form input, form, label, form button {
    display: block;
    width: 100;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;
}

form button:hover {
    background-color: var(--primary-color-darker);
}